In [19]:
def printeven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt
        cnt=cnt+1
    return sum
    
printeven(20)

90

In [20]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;

factorslist(12);

1 2 3 4 6

In [22]:
list1=[1,2,3,4,5];
#entirelist
print(list1);
#list(0)
print(list1[0])

[1, 2, 3, 4, 5]
1

In [23]:
list2=["akhil","ram","sam"];
for x in list2:
    print(x,end=" ");

akhil ram sam

In [31]:
list=[1,2,3,4,5,6,7];
for x in list:
    print(x,end=" ");
    
print();
print(list[4]);
print(list[3:6]);
print(list[0:3]);
print(list[:7]);
print(list[:3]);

1 2 3 4 5 6 7
5
[4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3]

In [38]:
list=[1,2,3,4,5,6,7,8,9,10]
for x in list:
    print(x,end=" ")
    
print();
print(list[1:-1]);
print(list[2:-2]);
print(list[::2]);
print(list[::3]);
print(list[::-2]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]

In [44]:
list=["hi","hello","gm",1];
print(list);
list[2]=15;
print(list);
del list[3];
print(list);
list[1]="gitam";
print(list);
list1=[1,2,3];
print(list1);
print(list+list1);

['hi', 'hello', 'gm', 1]
['hi', 'hello', 15, 1]
['hi', 'hello', 15]
['hi', 'gitam', 15]
[1, 2, 3]
['hi', 'gitam', 15, 1, 2, 3]

In [52]:
list1=[1,2,3,4,5];
print(list1);
del list1[2];
print(list1);
print(len(list1));
list1.append(15);
print(list1);
list1.append(150);
print(list1);
list1.append(1);
list1.append(3);
list1.append(1);
print(list1);
print(list1.count(1));
print(list1.count(3));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15, 150]
[1, 2, 4, 5, 15, 150, 1, 3, 1]
3
1

In [53]:
list1=["gitam","python","raptor",1,5,"python","python"]
print(list1);
list1.index("python")
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2029)
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2029, 1, 5, 'python', 'python']